* {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #914dff;
  --color-success: #c64dff;
  --color-warning: #ff7069;
  --color-danger: #fc2217;
  --danger-varient: rgba(255, 255, 255, 0.7);
  --color-white: #f2f2f2;
  --color-light: #b5b5b5;
  --color-black: #000;

  --color-bg: #6e7fff;
  --color-bg1: #4151cc;
  --color-bg2: #2b3bad;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --containder-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: "EB Garamond", serif;
  color: var(--color-white);
  background: var(--color-bg);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-white);
}



.header_right-img img {
  width: 90%;
  margin-top: 40px;

  display: block;
  object-fit: cover;
  /* object-fit: contain; */
}
img {
  width: 100%;


  display: block;
  object-fit: cover;
  /* object-fit: contain; */
}

.btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
  padding: 0.5rem;
}

.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-danger);
  color: var(--color-white);
}

/* nav bar  */
nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.window-scroll {
  background: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav_container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav_menu {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.nav_menu a {
  font-size: 0.9rem;
  transition: var(--transition);
}

.nav_menu a:hover {
  color: var(--color-bg2);
}

/* header  */

header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}
.header_left p{
  margin-bottom: 1rem;
}

.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: var(--color-black); */
  align-items: center;
}

/* ==========For Categories ================= */

.categories {
  background-color: var(--color-bg1);
  height: 29rem;
}

.categories h1 {
  line-height: 1;
  margin-bottom: 3rem;
}

.categories_container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
}

/* .categories_left{
    margin-left: 2rem;
} */

.categories_left p {
  margin: 1rem 0 3rem;
}

.categories_right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.category {
  background-color: var(--color-bg2);
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
}

.category:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* //selecting child  */

.category:nth-child(2) .category_icon {
  background: var(--color-danger);
}

.category:nth-child(3) .category_icon {
  background: var(--color-success);
}
.category:nth-child(4) .category_icon {
  background: var(--color-warning);
}
.category:nth-child(5) .category_icon {
  background: var(--color-success);
}

.category_icon {
  background: var(--color-primary);
  padding: 0.7rem;
  border-radius: 0.9rem;
}

.category h5 {
  margin: 2rem 0 1rem;
}

.category p {
  font-size: 0.85rem;
}

/* ========For courses========================= */

.courses {
  margin-top: 10rem;
}

.course {
  background-color: var(--color-bg1);
  transition: var(--transition);
  text-align: center;
  border: 1px solid transparent;
}

.course:hover {
  background-color: transparent;
  border-color: var(--color-primary);
}
.courses_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course_Info {
  padding: 2rem;
  background-color: transparent;
  text-align: center;
}

.course_Info p {
  margin: 1.2rem 0;
  font-size: 0.9rem;
}

/* ===============FAQS========================= */

.Faq {
  background-color: var(--color-primary);
  box-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.3);
}
.Faqs_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.Faqs {
  display: flex;
  gap: 1rem;
  background-color: var(--color-bg2);
  padding: 2rem;
  align-items: center;
  height: fit-content;
  cursor: pointer;
}

.Faqs h4 {
  font-size: 1rem;
  line-height: 2.2rem;
}

.Faqs p {
  margin-top: 1rem;
  line-height: 1.2rem;
  display: none;
}

.coverr p{
  display: block;
}

.Faqs_icons {
  align-self: flex-start;
}

/* ==============Stutends testimonials ========= */

.testimonials_continer {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.testimonial {
  padding-top: 2rem;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 1rem solid var(--color-bg1);
}

.testimonial_info {
  text-align: center;
}

.testimonial_body {
  background-color: var(--color-light);
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
}

/* i know about sudo element before and after L1 */
.testimonial_body::before {
  content: "";
  display: block;
  width: 3rem;
  background: linear-gradient(
    135deg,
    transparent,
    var(--color-light),
    var(--color-light),
    var(--color-light)
  );
  height: 3rem;
  position: absolute;
  left: 50%;
  top: -1.2rem;
  transform: rotate(45deg);
}


/* ========== Footer =============== */



footer{
    background: var(--color-bg2) ;
    padding: 3rem;
}

.footer_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}

.sectionss h2{
    line-height: 2px;
    margin-bottom: 2rem;
}

.sectionss ul{
    line-height: 2rem;
}

.footer_container > div h4{
    margin-bottom: 1.2rem;
}



/* ============================ Media Queiries (tablets)============= */

@media screen and (max-width:1024px){
  .container{
    width: var(--container-width-md);
  }

  h1{
    font-size: 2.2rem;
  }
  h2{
    font-size: 1.7rem;
  }
  h3{
    font-size: 1.4rem;
  }

  h4{
    font-size: 1.2rem; 
   }

/* ===========Navbar ================ */

nav button{
  display: inline-block;
  background: transparent;
  font-size: 1.8rem;
  color: var(--color-white);
  cursor:pointer;
}

nav button#close-menu-btn{
  display: none;
}

.nav_menu{
  position: fixed; 
  top: 5rem;
  right: 5%;
  /* background-color: red; */
  height: fit-content;
  width: 18rem;
  flex-direction: column;
  gap: 0; 
  display: none;
}


.nav_menu li{
  width: 100%;
  height: 5.8rem;
  animation:animateNavItems 400ms linear forwards;
  transform-origin: top right;
  opacity: 0;
}


.nav_menu li:nth-child(2){
  animation-delay: 200ms;
}
.nav_menu li:nth-child(3){
  animation-delay: 400ms;
}
.nav_menu li:nth-child(4){
  animation-delay: 600ms;
}

@keyframes animateNavItems{
 /* from  */
  0%{
    transform:rotateZ(-90deg) rotateX(90deg) scale(0.1);
  }
  /* to */
  100%{
    transform: rotateZ(0) rotateX(0) scale(1); 
    opacity: 1;
  }
}


.nav_menu li a{
  background:var(--color-primary);
  box-sizing: -4rem 6rem 10rem rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  display: grid;
  place-items:center;
}


.nav_menu li a:hover{
  background:var(--color-bg2);
  color:var(--color-white);
}


/* -----------Header on tablet */


header{
  height: 52vh;
  margin-bottom: 4rem;
} 

.header_container{
  gap:0;
  padding-bottom: 3rem;
}

.header_right-img img { 
  width: 80%;
  /* margin-top: -4px; */

  display: block;
  object-fit:fill;
  /* object-fit: contain; */
}

.categories{
  /* auto=fitcontent */
  height: auto;
}

.categories_container{
  grid-template-columns: 1fr;
  gap:3rem;
}

.categories_left{
  margin-right: 0;
}


/* ---------Popular Courses------------- */

.courses{
  margin-top: 0;

}
.courses_container{
  grid-template-columns: 1fr 1fr;

}

/* ------------------faqs----------------- */

.Faqs_container{
  grid-template-columns: 1fr;

}

.Faq{
  padding: 1.5rem;
}



/* -----------------footer---------------- */
.footer_container{
  grid-template-columns: 1fr 1fr;
  
}



  }

  /* ----------------MOBILE MEDIA QUERY--------- */

@media screen and (max-width: 600px){
 .container {
   width: var(--containder-width-sm);
 }


 /* ///////////Nav  */

 .nav_menu{
   right: 3%;
 }

 /* ------------------- HEADER -------------- */

 header{
   height: 100vh;
 }

 .header_container{
   grid-template-columns: 1fr;
   text-align: center;
   margin-top: 0;
 }

 .header_left p {
   margin-bottom: 1.3rem;
 }


 /* -----------category---------- */

 .categories_right{
  grid-template-columns: 1fr 1fr;
  gap:0.7rem;
 }

 .category{
   padding: 1rem;
   border-radius: 1rem;
 }

 .category_icon{
   margin-top: 4px;
   display: inline-block;
 }


 /* -------- popular courses --------------- */

 .courses_container{
   grid-template-columns: 1fr;

 }



 /* ---TEstomonlial  */

 .testimonial_body{
   padding: 1.2rem;
 }


 /* ---------------Footer ---------------- */

 .footer_container{
   grid-template-columns: 1fr;
   text-align: center;
   gap:2rem;
 }

 .footer_1 p{
   margin: 1rem auto;
 }

 .footer_container{
   justify-content: center;
 }


}

